
*.xcuserstate

Pedido.xcworkspace/xcuserdata/*
CorePedido/CorePedido.xcodeproj/xcuserdata/*
CorePedidoClient/CorePedidoClient.xcodeproj/xcuserdata/*
CorePedidoServer/CorePedidoServer.xcodeproj/xcuserdata/*
