<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CorePedidoClient OS X.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CorePedidoClient iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E7DFE801A3150D1002BE54B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7DFE8B1A3150D1002BE54B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9679321B333E26003AFBBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E9679471B333E36003AFBBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
